Pods/
xcuserdata/
/Podfile.lock
/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iosApp.xcworkspace/contents.xcworkspacedata
/iosApp/Secrets.plist
